* {
  font-family: "Lora", serif;
  color: #2c2c2c
}

a {
    text-decoration: none;
    color: #267896;
}

.logo {
    font-family: "Lora Bold", serif;
    font-weight: bold;
    font-size: 1.3em;
    flex-grow: 1;
}

.logo > * {
    color: #267896 !important;
}

h2 {
    color: #267896;
}

h1 {
  color: #267896;
  font-size: 5em;
  font-family: "Lora Bold", serif;
}
p, li {
  font-size: 1.3em;
  max-width: 50em;
}

body{
    background-color: #f7f7f7;
    font-size: 16px;
}

/*
iframe {
    max-width: 50em;
}
*/


@media (max-width: 340px) {
  h1 {
      font-size: 3em;
  }
}