* {
  font-family: sans-serif;
  color: #87749E;
}

@font-face {
  font-family: 'goldin';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(/fonts/goldin.otf) format('woff2');
}

a {
    text-decoration: none;
    color: #6D7C26;
    font-weight: 600;
}

.logo {
    flex-grow: 1;
}

.logo > * {
    font-family: "goldin", sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    color: #6c5092 !important;
}

h2 {
    color: #6c5092;
    font-family: "goldin", sans-serif;
}

h3 {
  color: #6c5092;
  font-family: "goldin", sans-serif;
}

h1 {
  color: #6c5092;
  font-size: 2.5em;
  font-family: "goldin", sans-serif;
}

p, li {
  font-size: 1.3em;
  max-width: 50em;
}

body{
    background-color: #f9f6fd;
    font-size: 16px;
    line-height: 1.5;
}


/* for laptop screens */
/* @media (min-width: 1024px) {
  body {
    margin-left: 10em;
    margin-right: 10em;
  }
} */

@media (max-width: 340px) {
  h1 {
      font-size: 3em;
  }
}
